footer{
    width: 100%; 
    background-color: #fff; 
    z-index: 999;
    padding-top: .8rem;
    padding-bottom: .8rem;
    -webkit-box-shadow: 2px -13px 26px -17px rgba(181,181,181,1);
    -moz-box-shadow: 2px -13px 26px -17px rgba(181,181,181,1);
    box-shadow: 2px -13px 26px -17px rgba(181,181,181,1);
}

footer a{
    cursor: pointer;
}

footer a p{
    color: rgb(117, 117, 117); 
    font-size: .9rem; 
    font-weight: 600;
}