/* resources/css/app.css */
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';


.button-2 {
    background-position: 100%;
    background-color: #193c71;
    color: #fff;
    border: 2px solid #193c71;
    border-radius: 5px;
    font-size: .9rem;
    white-space: nowrap;
  }

.button-2:hover {
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  color: #193c71;
  background: transparent;
  border: 2px solid #193c71;
}


.delete-btn{
  background-position: 100%;
  background-color: red;
  color: #fff;
  border: 2px solid red;
  border-radius: 5px;
  font-size: .9rem;
  white-space: nowrap;
}

.delete-btn:hover {
-webkit-transition: background 300ms ease-in-out;
transition: background 300ms ease-in-out;
color: red;
background: transparent;
border: 2px solid red;
}
