@import 'node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css';

th {
  white-space: nowrap;
  text-align: start !important;
  padding-left: 1rem !important;
  background-color: #193c71 !important;
  color: #fff !important;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden; /* Hide the overflowed text */
}

tbody tr {
  height:  48.6875px !important;
  max-height:  48.6875px !important;
  padding-left: 1rem !important;
}

tbody tr td {
  vertical-align: middle;
  text-align: start !important;
  padding-left: 1rem !important;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden; /* Hide the overflowed text */
  height:  48.6875px !important;
  max-height:  48.6875px !important;
}

  
.dt-layout-full{
    height: 32rem;
    overflow-y: auto;
    border-bottom: 1px solid #dee2e6 !important;
    padding-right: 0;
}

.dt-layout-full::-webkit-scrollbar {
  width: 1rem;  /* Width for vertical scrollbar */
  height: 1rem; /* Height for horizontal scrollbar */

}

.dt-layout-full::-webkit-scrollbar-track {
  background-color: #f1f1f1;  /* Light grey */
  border-radius: 10px;
}

/* Style the thumb (the draggable part of the scrollbar) */
.dt-layout-full::-webkit-scrollbar-thumb {
  background-color: #193c71;
  border-radius: 10px;
  border: 3px solid #f1f1f1;  /* Optional: adds space around the thumb */
  visibility: hidden;
}

/* Hover effect for the thumb */
.dt-layout-full:hover::-webkit-scrollbar-thumb {
  background-color: #193c71;  /* Darker grey */
  visibility: visible;
}


.page-link{
    font-size: .9rem;    
}

.dt-paging{
    margin-right: 1rem !important;
}

.dt-info{
    margin-left: 1rem !important;
}

.page-item.active .page-link{
    background-color: #193c71 !important;
    border: none;
    outline: none;
}

.dt-column-order::after{
    color: #fff;
}

.dt-column-order::before{
    color: #fff;
}

#dt-search-0,
#dt-search-1,
#dt-search-2,
#dt-search-3,
#dt-search-4,
#dt-search-5{
    width: 30rem;
    border: 1px solid gray;
    margin-right: 1rem;
}

#allBooks{
    height: 70rem;
}

.table-responsive {
    -webkit-overflow-scrolling: touch;  /* For smooth scrolling on iOS devices */
    overflow-x: auto;                   /* Enable horizontal scrolling */
}

.dt-length > label{
  display: none;
}


@media screen and (min-width: 879px){
    .dt-search,
    .dt-length{
      margin-bottom: .5rem;
      margin-top: .5rem;
    }
}

@media (max-width: 768px) {
  .table th, .table td {
    font-size: 0.875rem; /* Adjust font size on small screens */
  }

  #dt-search-0,
  #dt-search-1,
  #dt-search-2,
  #dt-search-3,
  #dt-search-4,
  #dt-search-5{
      width: 25rem;
      border: 1px solid gray;
      margin-right: .5rem;
  }

}

@media (max-width: 576px) {
    .table th, .table td {
      padding: 0.5rem;  /* Reduce padding for very small screens */
    }

    #dt-search-0,
    #dt-search-1,
    #dt-search-2,
    #dt-search-3,
    #dt-search-4,
    #dt-search-5{
          width: 20rem;
          border: 1px solid gray;
          margin-right: .5rem;
      }

}

@media (max-width: 375px){
    #dt-search-0,
    #dt-search-1,
    #dt-search-2,
    #dt-search-3,
    #dt-search-4,
    #dt-search-5{
          width: 15rem;
          border: 1px solid gray;
          margin-right: .5rem;
      }
}
  